<!--<footer class="site-footer">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-sm-12 col-md-6">-->
<!--        <h6>About</h6>-->
<!--        <p class="text-justify"> We at company_name believe that food and agriculture is where our economy starts from and we must never overlook the farmers' efforts. Thus we ensure that the farmers get the benefits they deserve and to increase their productivity and help them avail the most out of the system, we work hard to provide them a secure and easy-to-use platform to trade their crops and goods to verified buyers at the best market rates with full assurance of returns.</p>-->
<!--      </div>-->

<!--      <div class="col-xs-6 col-md-3">-->
<!--        <h6>Quick Links</h6>-->
<!--        <ul class="footer-links">-->
<!--          <li><a href="http://scanfcode.com/about/">About Us</a></li>-->
<!--          <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>-->
<!--          <li><a href="http://scanfcode.com/contribute-at-scanfcode/">Contribute</a></li>-->
<!--          <li><a href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>-->
<!--          <li><a href="http://scanfcode.com/sitemap/">Careers</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--    <hr>-->
<!--  </div>-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-md-8 col-sm-6 col-xs-12">-->
<!--        <p class="copyright-text">Copyright &copy; 2020. All Rights Reserved by-->
<!--          <a href="#">company_name</a>.-->
<!--        </p>-->
<!--      </div>-->

<!--      <div class="col-md-4 col-sm-6 col-xs-12">-->
<!--        <ul class="social-icons">-->
<!--          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->

<footer class = "main">
    <div class = "about">
        <h3>About us</h3>
        <p>
          We at <i style="color:cornflowerblue">FarmStead</i> believe that food and agriculture is where our economy starts from and
            we must never overlook the farmers' efforts. Thus we ensure that the farmers get the benefits
            they deserve and to increase their productivity and help them avail the most out of the system,
            we work hard to provide them a secure and easy-to-use platform to trade their crops and goods
            to verified buyers at the best market rates with full assurance of returns.
        </p>
    </div>
    <div class = "links">
        <h3>Quick links</h3>
        <ul class="footer-links">
          <li class="item"><a href="#" style="text-decoration: none; color: inherit">About Us</a></li>
          <li class="item"><a href="#" style="text-decoration: none; color: inherit">Contact Us</a></li>
          <li class="item"><a href="#" style="text-decoration: none; color: inherit">Contribute</a></li>
          <li class="item"><a href="#" style="text-decoration: none; color: inherit">Privacy Policy</a></li>
          <li class="item"><a href="#" style="text-decoration: none; color: inherit">Careers</a></li>
        </ul>
    </div>
  <div><hr style="color: white; width: 100%"></div>
  <p>Copyright &copy; 2020. All Rights Reserved by <i style="color:cornflowerblue">FarmStead Inc.</i></p>
</footer>
