table{
    margin-top: 4%;
    border-collapse: collapse;
    width: 80%;
    margin-left: 6%;
    text-align: center;
}
table,th,td{
    border:1px solid black;
    padding:0.5%;
}
.bidamount{
    margin-top: 2%;
    margin-left: 36%;
}
.buttoncss{
    padding: 0.3%;
    margin-left: 43%;
    margin-top: 2%;
}
.logoutbutton
{
  overflow: hidden;
  margin-top: 3em;
  height:max-content;
  border-radius: 1.7em;
  background-color: red;
  padding: 0 0;
  color: white;
  font-family: Verdana;
  letter-spacing: 1px;
  background-image: linear-gradient(to right, cornflowerblue,purple);
}
.placebid{
    text-align: center;
}