<div class="table_css">
   <h1>Hi, {{bidderName}}! Wecome</h1>
    <table>
       <thead>
          <tr>
             <th>Crop Type</th>
             <th>Crop Name</th>
             <th>Base Price</th>
             <th>Current Bid</th>
             <th>Action</th>
          </tr>
       </thead>
       <tbody>
          <tr *ngFor="let item of items">
             <td>{{ item.croptype }}</td>
             <td>{{ item.cropname }}</td>
             <td>{{ item.baseprice }}</td>
             <td>{{ item.currentbid}}</td>
             <td><button class="placebid" (click)="iwillhide=true">Place Bid</button></td>
          </tr>
       </tbody>
    </table>
    <div *ngIf="iwillhide">
    <div class="bidamount">
        <label for="amt">Bid Amount</label>
        <input name="amt" type="number" placeholder="Enter Bid Amount"><br>
    </div>
        <button class="buttoncss" (click)="iwillhide=false">Confirm</button>
      </div>
    </div>
