<div class="table_css">
    <table>
       <thead>
          <tr>
             <th>Crop Type</th>
             <th>Crop Name</th>
             <th>Base Price</th>
             <th>Current Bid</th>
          </tr>
       </thead>
       <tbody>
          <tr *ngFor="let item of items">
             <td>{{ item.croptype }}</td>
             <td>{{ item.cropname }}</td>
             <td>{{ item.baseprice }}</td>
             <td>{{ item.currentbid}}</td>
          </tr>
       </tbody>
    </table>
    <div class="bidamount">
        <label for="amt">Bid Amount</label>
        <input name="amt" type="number" placeholder="Enter Bid Amount"><br>
    </div>
        <button class="buttoncss">Confirm</button>
    </div>