<div>
    <form #farmerForm = "ngForm" (ngSubmit) = "onSubmit(farmerForm)" ngNativeValidate>
        {{farmerForm.value | json}}
    <br>
    <span style="color: darkblue;">Hey, Welcome to the Farmer Registration Page.
    <br>-------------------------------------------------------<br>
    Before you can use the functionalities of our platform, you will need to register with us.<br><br>
    </span>
    <span style="color:purple;">
    <p>
        Let's start with some introductory details
        <br>-------------------------------------------------------
    </p>
    </span>
    Your good name? &nbsp;
    <input type=text name = "fName" ngModel placeholder="Enter your name" class="padding_textbox" required><br><br>
    How can we contact you ? &nbsp;
    <input type=text name = "fPhno" ngModel placeholder="Enter Phone number" class="padding_textbox" minlength="10" required>&nbsp;
    Got an email address ? &nbsp;
    <input type=text name = "fEmail" ngModel placeholder="Enter your e-mail" class="padding_textbox" required><br>
    <span style="color:purple;">
    <p >
        Now onto Address. 
        <br>-------------------------------------------------------
    </p>
    </span>
    Please provide your local address! &nbsp;
    <input type=text name="addLine1" ngModel placeholder="Line 1" class="padding_textbox" required>&nbsp;
    <input type=text name = "addLine2" ngModel placeholder="Line 2" class="padding_textbox"><br><br>
    City &nbsp;
    <input type=text name="fCity" ngModel placeholder="City" class="padding_textbox" required>&nbsp;
    State &nbsp;
    <input type=text name="fState" ngModel placeholder="State" class="padding_textbox" required>&nbsp;
    Pincode &nbsp;
    <input type=text name="fPincode" ngModel placeholder="Pincode" class="padding_textbox" required><br>
    <span style="color:purple;">
    <p>
        Provide us your Land Details 
        <br>-------------------------------------------------------
    </p>
    </span>
    Area &nbsp;
    <input type=text placeholder="Area" ngModel class="padding_textbox" required>&nbsp;
    Address &nbsp;
    <input type=text placeholder="Address" ngModel class="padding_textbox" required>&nbsp;
    Pincode  &nbsp;
    <input type=text placeholder="Pincode" ngModel class="padding_textbox" minlength="6" required><br>
    <span style="color:purple;">
    <p>
        Provide the Bank Details
        <br>-------------------------------------------------------
    </p>
    </span>
    Account No. &nbsp;
    <input type=text name="fAccno" ngModel placeholder="Acc No" class="padding_textbox" required>&nbsp;
    IFSC &nbsp;
    <input type=text name="fIfsc" ngModel placeholder="IFSC" class="padding_textbox"required>&nbsp;<br>
    <span style="color:purple;">
    <p>
        Provide us your Document numbers
        <br>-------------------------------------------------------
    </p>
    </span>
    Aadhar  &nbsp;
    <input type=text name="fAadhar" ngModel placeholder="Aadhar" class="padding_textbox" required>&nbsp;
    PAN &nbsp;
    <input type=text name="fPan" ngModel placeholder="PAN" class="padding_textbox" required >&nbsp; <br><br>
    Certificate  &nbsp;
    <input type=text name="certificate" ngModel placeholder="Certificate"class="padding_textbox" required><br>
    <br>
    <span style="color:purple;">
    <p>
        Choose a strong password to safegaurd your account.
        <br>-------------------------------------------------------
    </p>
    </span>
    Password  &nbsp;
    <input type=password name="fPassword" ngModel placeholder="Password" class="padding_textbox" required>&nbsp;
    Re-enter Password &nbsp;
    <input type=password placeholder="Re-enter Password" class="padding_textbox" required>&nbsp; <br>
    <br><br>
    <button type=submit class="loginbutton">Submit</button>&nbsp;&nbsp;
    <button type=button class="loginbutton" >Reset</button>&nbsp;&nbsp;
    <button type=button routerLink='/' class="loginbutton">Home</button>&nbsp;&nbsp;
    <br>
</form>
</div>