<div>
    <br>
    <span style="color: darkblue;">Hey, Welcome to the Bidder Registration Page.
    <br>-------------------------------------------------------<br>
    Before you can use the functionalities of our platform, you will need to register with us.<br><br>
    </span>
    <span style="color:purple;">
    <p>
        Let's start with some introductory details :D
        <br>-------------------------------------------------------
    </p>
    </span>
    Your good name? &nbsp;
    <input type=text placeholder="Please enter your name" class="padding_textbox" /><br><br>
    How can we contact you ? &nbsp;
    <input type=text placeholder="Enter Phone number" class="padding_textbox" />&nbsp;
    Got an email address ? &nbsp;
    <input type=text placeholder="Enter your e-mail" class="padding_textbox" /><br>
    <span style="color:purple;">
    <p >
        Now onto Address. 
        <br>-------------------------------------------------------
    </p>
    </span>
    Please provide your local address! &nbsp;
    <input type=text placeholder="Line 1" class="padding_textbox" />&nbsp;
    <input type=text placeholder="Line 2" class="padding_textbox"/><br><br>
    City &nbsp;
    <input type=text placeholder="City" class="padding_textbox" />&nbsp;
    State &nbsp;
    <input type=text placeholder="State" class="padding_textbox" />&nbsp;
    Pincode &nbsp;
    <input type=text placeholder="Pincode" class="padding_textbox"/><br>
    <span style="color:purple;">
    <p>
        Provide us your Land Details 
        <br>-------------------------------------------------------
    </p>
    </span>
    Area &nbsp;
    <input type=text placeholder="Area" class="padding_textbox"/>&nbsp;
    Address &nbsp;
    <input type=text placeholder="Address"class="padding_textbox"/>&nbsp;
    Pincode  &nbsp;
    <input type=text placeholder="Pincode" class="padding_textbox"/><br>
    <span style="color:purple;">
    <p>
        Provide the Bank Details
        <br>-------------------------------------------------------
    </p>
    </span>
    Account No. &nbsp;
    <input type=text placeholder="Acc No" class="padding_textbox"/>&nbsp;
    IFSC &nbsp;
    <input type=text placeholder="IFSC" class="padding_textbox"/>&nbsp;<br>
    <span style="color:purple;">
    <p>
        Provide us your Document numbers
        <br>-------------------------------------------------------
    </p>
    </span>
    Aadhar  &nbsp;
    <input type=text placeholder="Aadhar" class="padding_textbox"/>&nbsp;
    PAN &nbsp;
    <input type=text placeholder="PAN" class="padding_textbox"/>&nbsp; <br><br>
    Trader's License  &nbsp;
    <input type=text placeholder="Certificate"class="padding_textbox" /><br>
    <br>
    <span style="color:purple;">
    <p>
        Choose a strong password to safegaurd your account.
        <br>-------------------------------------------------------
    </p>
    </span>
    Password  &nbsp;
    <input type=password placeholder="Password" class="padding_textbox"/>&nbsp;
    Re-enter Password &nbsp;
    <input type=password placeholder="Re-enter Password" class="padding_textbox"/>&nbsp; <br>
    <br><br>
    <button type=button routerLink='/login' class="loginbutton">Submit</button>&nbsp;&nbsp;
    <button type=button class="loginbutton" >Reset</button>&nbsp;&nbsp;
    <button type=button routerLink='/' class="loginbutton">Home</button>&nbsp;&nbsp;
    <br>
</div>