<div class="main">
  <div class="heading">
    ABOUT US
<!--    <div class="sub">-->
      <br>
----------- Our Story -----------
<!--    </div>-->
  </div>
  <div class="content">
    <hr>
    <br>
      <p>
        We at <i style="color:cornflowerblue">FarmStead</i> believe that food and agriculture is
        where our economy starts from and we must never overlook the farmers' efforts. Thus we
        ensure that the farmers get the benefits they deserve and to increase their productivity
        and help them avail the most out of the system, we work hard to provide them a secure
        and easy-to-use platform to trade their crops and goods to verified buyers at the best
        market rates with full assurance of returns.
     </p>
    <p>
      Thus we
      ensure that the farmers get the benefits they deserve and to increase their productivity
      and help them avail the most out of the system, we work hard to provide them a secure
      and easy-to-use platform to trade their crops and goods to verified buyers at the best
      market rates with full assurance of returns.
      <br>
      <br>
    </p>
  </div>
</div>

