.shift_middle{
    margin-left: 30%;
    font-size: large;
    
}
.padding_textbox{
    font-size: 0.8em;
    font: bold;
    /* border-radius: 15em; rounded corners */
    padding: 0.7%;
    width: 50%;
  height: 10%;
}
.marginforforgotpassword{
    margin-left: 35%;
}
.marginforquestion{
    margin-left: 18%;
}
.loginbutton{
padding: 0.7%;
font-size: large;    
}
.danger{
    color: red;
    
}
span{
    border:1px solid black;
    padding:10px;
    width:800px;
    background-color: darkgrey;
    padding-bottom: 3%;
    padding-top: 3%;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    background-color: white;
}