<form #Registerform="ngForm" ngNativeValidate #form>
  <div class="main">
    <h2>Admin Login</h2>
    <div class="content">
      <small class="danger" *ngIf="email.touched && email.invalid">Please enter Email</small><br>
      <input class="textbox" type="email" placeholder="Email" name="email" [(ngModel)]="obj.email" #email="ngModel" required>
      <br><br>

<small  class="danger" *ngIf="password.touched && password.invalid">Please enter Password</small><br>
      <input class="textbox" type="password" placeholder="Password" name="psw" [(ngModel)]="obj.password" #password="ngModel" required>
      <div class="loginbutton" routerLink='/admin-dashboard'>LOGIN</div>

      <!-- we have to make this admin-dashboard route  -->

        <br><br>
    </div>
  </div>

</form>
