
<div class="about">
    <h2 class="hed">Consortium of Indian Farmers Association</h2><br/>
    <p>
        <span> &nbsp;
        </span>
        32/33, Mahavir Centre,Sector 17, Above Golden Punjab Association,
        Vashi, Navi Mumbai
        Maharashtra - 110016.
        <br>
    </p>
    <hr/>
    <p>
        <span> &nbsp;</span>
        Help Desk No.: 1800 270 0224
        <br>
    </p>
    <hr/>
    <p>
        <span>Fax</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        +91-11- 26862367
    </p>
    <hr/>
    <p>
        <span class="glyphicon glyphicon-envelope"> &nbsp; </span>
        Email id- nam[at]sfac[dot]in , enam[dot]helpdesk[at]gmail[dot]com
        <br><br/>
        Office Time: 09:30 AM. to 06:00 PM.
    </p>
    <hr/>
    </div>
    
