<div class="main">
    <div class="heading">Hello, {{biddername}}. Welcome back!</div>
    <div class="content">
       <div class="frame">
             <a routerLink='/welcome-bidder' style="color: inherit; text-decoration: none">
              <div class = "text">
                  View Market Place
              </div>
            </a>
       </div>

       <div class="frame" style="text-align: center;">
        <a routerLink='/bidder-history' style="color: inherit; text-decoration: none">
         <div class = "text">
             View all transactions
         </div>
         </a>
       </div>
 
     </div>
  </div>
 