.header
{
  height: 8%;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  background: rgb(33,33,33);
  min-width: 600px;
  min-height: 60px;
}

.logo
{
  top: 1%;
}

.logo-text
{
  position: relative;
  display: inline;
  left: 3%;
  top: 6.5%;
  color: white;
  font-size: 240%;
  letter-spacing: 2px;
  font-family: Futura;
  opacity: 100%;
}

.menu-tray
{
  margin-left: auto;
  margin-right: 1%;
  display: inline;
  width: 28%;
  min-width: 400px;
}
.menu-item
{
  color: white;
  font-family: Futura;
  font-size: 1.1em;
  width: 25%;
  float: left;
  text-align: center;
  transition: 0.3s;
  display: inline;
  padding: 0.8% 0 0%;
}
.menu-item:hover
{
  transform: scale(1.1);
  color: coral;
}

.login
{
  color:black;
  background-color: white;
  font-family: Futura ;
  width: max-content;
  float: right;
  text-align: center;
  border-radius: 40px;
  transition: 0.3s;
  overflow: hidden;
  padding: 1% 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login:hover
{
  background-color: #cc5f30;
  color:white;
  transform: scale(1.1);
  opacity: 1;
}
