.header
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
  display: flex;
  align-items: center;
  color: white;
  font-weight: 600;
  background: rgb(73, 69, 114);
}

.spacer
{
  height: 100%;
  width: 3%;
  float: left;
}

.logo
{
  position: relative;
  top: 0;
  left: 0.5%;
  width: 4.16%;
  height: 7%;
}

.logo-text
{
  position: relative;
  left: 12.75%;
  top: 6.5%;
  color: white;
  font-size: 240%;
  letter-spacing: 2px;
  font-family: Futura;
  opacity: 100%;
}

.menu-tray
{
  position: relative;
  left: 45%;
  width: 39.3%;
  height: 78%;
}
.menu-item
{
  color: white;
  font-family: Verdana ;
  font-size: 100%;
  height: 100%;
  width: 24%;
  float: left;
  text-align: center;
  line-height: 320%;
  transition: 0.3s;
}
.menu-item:hover
{
  transform: scale(1.1);
  color: blueviolet;
}

.login
{
  position: inherit;
  top: 15%;
  color:black;
  background-color: white;
  opacity: 0.8;
  font-family: Verdana ;
  font-size: 120%;
  height: 70%;
  width: 25%;
  float: right;
  text-align: center;
  line-height: 200%;
  border-radius: 40px;
  transition: 0.3s;
  overflow: hidden;
}
.login:hover
{
  background-color: slategrey;
  color:white;
  transform: scale(1.1);
  opacity: 1;
}