<div class="header" id = "myHeader">
  <div class = "logo" id = "logo">
    <a routerLink='/'>
      <img src="../assets/logo2.png" >
    </a>
  </div>
    <div class="logo-text" >
      <a routerLink='/' style="color: inherit; text-decoration: none; height: 100%">
        Naam socho
      </a>
    </div>
    <div class="menu-tray">

      <div class="menu-item">
        <a routerLink='/' style="color: inherit; text-decoration: none; display: block; height: 100%">
          Home
        </a>
      </div>

      <div class="menu-item">
        <a routerLink='/market' style="color: inherit; text-decoration: none; display: block; height: 100%">
          Market
        </a>
      </div>

      <div class="menu-item">
        <a routerLink='/contact' style="color: inherit; text-decoration: none; display: block; height: 100%">
          Contact
        </a>
      </div>


      <div class="login">
        <a [routerLink]="['/login']" style="color:inherit; text-decoration: none; display: block; height: 100%">
          Login
        </a>

      </div>
    </div>
  </div>
<router-outlet></router-outlet>
