<div>
    <br>
    <span style="color: darkblue;">Hey, Welcome to the Farmer Registration Page.
    <br>-------------------------------------------------------<br>
    Before you can use the functionalities of our platform, you will need to register with us.<br><br>
    </span>
    <span style="color:purple;">
    <p>
        Let's start with some introductory details :D
        <br>-------------------------------------------------------
    </p>
    </span>
    Your good name? &nbsp;
    <input type=text placeholder="Please enter your name" class=user /><br><br>
    How can we contact you ? &nbsp;
    <input type=text placeholder="Enter Phone number" class=user />&nbsp;
    Got an email address ? &nbsp;
    <input type=text placeholder="Enter your e-mail" class=user /><br>
    <span style="color:purple;">
    <p >
        Now onto Address. 
        <br>-------------------------------------------------------
    </p>
    </span>
    Please provide your local address! &nbsp;
    <input type=text placeholder="Line 1" class=user />&nbsp;
    <input type=text placeholder="Line 2" class=user/><br><br>
    City &nbsp;
    <input type=text placeholder="City" class=user />&nbsp;
    State &nbsp;
    <input type=text placeholder="State" class=user />&nbsp;
    Pincode &nbsp;
    <input type=text placeholder="Pincode" class=user/><br>
    <span style="color:purple;">
    <p>
        Provide us your Land Details 
        <br>-------------------------------------------------------
    </p>
    </span>
    Area &nbsp;
    <input type=text placeholder="Area" class=user/>&nbsp;
    Address &nbsp;
    <input type=text placeholder="Address"class=user />&nbsp;
    Pincode  &nbsp;
    <input type=text placeholder="Pincode" class=user/><br>
    <span style="color:purple;">
    <p>
        Provide the Bank Details
        <br>-------------------------------------------------------
    </p>
    </span>
    Account No. &nbsp;
    <input type=text placeholder="Acc No" class=user/>&nbsp;
    IFSC &nbsp;
    <input type=text placeholder="IFSC" class=user/>&nbsp;<br>
    <span style="color:purple;">
    <p>
        Provide us your Document numbers
        <br>-------------------------------------------------------
    </p>
    </span>
    Aadhar  &nbsp;
    <input type=text placeholder="Aadhar" class=user/>&nbsp;
    PAN &nbsp;
    <input type=text placeholder="PAN" class=user/>&nbsp;
    Trader's License  &nbsp;
    <input type=text placeholder="Certificate"class=user /><br>
    <br>
    <span style="color:purple;">
    <p>
        Choose a strong password to safegaurd your account.
        <br>-------------------------------------------------------
    </p>
    </span>
    Password  &nbsp;
    <input type=password placeholder="Password" class=user/>&nbsp;
    Re-enter Password &nbsp;
    <input type=password placeholder="Re-enter Password"class=user/>&nbsp; <br>
    <br><br>
    <button type=button routerLink='/login'>Submit</button>&nbsp;&nbsp;
    <button type=button >Reset</button>&nbsp;&nbsp;
    <button type=button routerLink='/'>Home</button>&nbsp;&nbsp;
    <br>
</div>