 <div class="main">
   <div class="heading">Hi, {{farmerName}}. What next?</div>
   <div class="content">
      <div class="frame">
        <a routerLink='/sell-request' style="color: inherit; text-decoration: none">
        <div class = "text">
            Place Sell Request
        </div>
      </a>
      </div>

      <div class = "frame">
        <a routerLink='/sell-request' style="color: inherit; text-decoration: none">
        <div class = "text" style="color: inherit; text-decoration: none">
          View Sold crop history
        </div>
      </a>
      </div>
      <div class="frame">
        <a routerLink='/market' style="color: inherit; text-decoration: none">
        <div class = "text">
            View Marketplace
        </div>
        </a>
      </div>
    </div>
    
 </div>