 <div class="main">
   <div class="heading">Hi, {{farmerName}}What next?</div>
   <div class="content">
      <div class="frame">
        <div class = "text">
            <a routerLink='/sell-request' style="color: inherit; text-decoration: none">Place Sell Request</a>
        </div>
      </div>

      <div class = "frame">
        <div class = "text" style="color: inherit; text-decoration: none">
          View Sold crop history
        </div>
      </div>
      <div class="frame">
        <div class = "text">
            <a routerLink='/market' style="color: inherit; text-decoration: none">View Marketplace</a>
        </div>
      </div>
    </div>
 </div>
