<div class = "temp-header">
    <div class = "logout">
      Logout
    </div>
  </div>
  <div class="content">
      <div class="farmer-welcome-card">
        <div class = "text">
            <a routerLink='/sell-request'>Place Sell Request</a>
        </div>
      </div>
  
      <div class = "farmer-welcome-card">
        <div class = "text">
          View Sold crop history
        </div>
      </div>
  
      <div class="market">
        <div class = "text">
            <a routerLink='/market'>View Marketplace</a>
        </div>
      </div>
  </div>