<div class="main">
    <div class="heading">Welcome back, Team Farmstead.</div>
    <div class="content">
       <div class="frame">
             <a routerLink='/admin-approve' style="color: inherit; text-decoration: none">
              <div class = "text">
                  Approve Sell Request
              </div>
            </a>
       </div>

       <div class="frame" style="text-align: center;">
        <a routerLink='/admin-market' style="color: inherit; text-decoration: none">
         <div class = "text">
             Approve Bids
         </div>
         </a>
       </div>
 
       <div class = "frame">
        <a routerLink='/all-farmers' style="color: inherit; text-decoration: none">
          <div class = "text" style="color: inherit; text-decoration: none">
            See All Farmers
          </div>
         </a>
       </div>


       <div class = "frame">
        <a routerLink='/all-bidders' style="color: inherit; text-decoration: none">
          <div class = "text" style="color: inherit; text-decoration: none">
            See All Bidders
          </div>
         </a>
       </div>

     </div>
  </div>
 