
<div class="body">
  <h1 class="h1">View Market-Place</h1>
  <br><br><br>
  <div class="container1">
    <div class="top">
      <p class="p1">Crop Type:<u class="u1">Type of Crop</u></p>
      <p class="p1">Crop Name:<u class="u1">Name of Crop</u></p>
      <p class="p1">Base Price:<u class="u1">Base Price of Crop</u></p>
    </div>
    <div class="card">
      <h3>Current Bid Amount</h3>
    </div>
    <div class="bottom">
      <p class="p2">Previous Bids</p>
    </div>
    <div class="card2">
      <h4 class="bid">Bid1</h4>
      <h4 class="bid">Bid2</h4>
      <h4 class="bid">Bid2</h4>
    </div> 
</div>