/* .body{
    padding-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 5%;
    background-color:#c9c9c9;
}
.h1{
    text-align: center;
    color: blue;
}
.container1{
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    border:2px solid black;
    height: 100%;
    margin-bottom: 200px;
    
}
.u1{
    padding-left: 10px;
}
.bid{
    
    margin-right: 90%;
    margin-bottom: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #ccf5ab;

}
.card2{
    padding-bottom: 3%;
}
table{
    border-collapse: collapse;
    width: 80%;
    margin-left: 6%;
}
table,th,td{
    border:1px solid black;
    font-size: large;
    text-align: center;
}
.p2{
    margin-top: 8%;
} */

.main{
    padding-bottom: 5%;
    background-color: #c9c9c9;
}
.heading{
    text-align: center;
    margin-top: 5%;
}