
<div class="body">
  <h1 class="h1">Welcome To Market-Place</h1>
  <br><br><br>
  <div class="container1">
    <div class="table_css">
      <table>
         <thead>
            <tr>
               <th>Crop Type</th>
               <th>Crop Name</th>
               <th>Base Price</th>
               <th>Current Bid</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let item of items">
               <td>{{ item.cropname }}</td>
               <td>{{ item.date }}</td>
               <td>{{ item.quantity }}</td>
               <td>{{ item.baseprice}}</td>
            </tr>
         </tbody>
      </table>
</div>