<h1 class="h1">View Market-Place</h1><br>
<div class="crop">
    <h3>Crop Type: cash</h3>
    <h3>Crop Name: Rice</h3>
    <h3>Crop Price: 1500</h3>
</div>
<div class="current">
    <h3>Current bid amount</h3>
    <h3>5000</h3>
</div>
<div class="previous">
    <h3>Previous Bid</h3>
    <h3>1000</h3>
    <h3>2000</h3>
    <h3>3000</h3>
</div>
<div class="crop">
  <h3>Crop Type: cash</h3>
  <h3>Crop Name: Rice</h3>
  <h3>Crop Price: 1500</h3>
</div>
<div class="current">
  <h3>Current bid amount</h3>
  <h3>5000</h3>
</div>
<div class="previous">
  <h3>Previous Bid</h3>
  <h3>1000</h3>
  <h3>2000</h3>
  <h3>3000</h3>
</div>
<div class="crop">
  <h3>Crop Type: cash</h3>
  <h3>Crop Name: Rice</h3>
  <h3>Crop Price: 1500</h3>
</div>
<div class="current">
  <h3>Current bid amount</h3>
  <h3>5000</h3>
</div>
<div class="previous">
  <h3>Previous Bid</h3>
  <h3>1000</h3>
  <h3>2000</h3>
  <h3>3000</h3>
</div>
