.body{
    padding-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 5%;
    background-color: white;
}
.h1{
    text-align: center;
    color: blue;
}
.container1{
    padding-top: 5%;
    padding-left: 5%;
    border:2px solid rgb(94, 255, 0);
    height: 100%;
    margin-bottom: 200px;
}
.u1{
    padding-left: 10px;
}
.card{
    margin-top: 7%;
    margin-left: 50%;
    margin-right: 40%;
    margin-bottom: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 5px;
}
.bid{
    
    margin-right: 90%;
    margin-bottom: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #ccf5ab;

}
.card2{
    padding-bottom: 3%;
}