.bg
{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: auto;
  background-position: center;
}

.content
{
  position: absolute;
  top: 35%;
  margin: 0 18%;
  align-self: center;
  height: 60%;
  padding: 3% 3%;
  background: rgba(0,0,0,0.4);
  text-align: center;
  border-radius: 20px;

}
.title
{
  font-family: Baskerville;
  color: white;
  font-size: 55px;
  margin: 5px 0;
}

.subtitle
{
  margin: 0 0 15px;
  font-family: Baskerville;
  color: white;
  font-size: 30px
}

.learnmore
{
  color: white;
  font-family: "Noto Sans Glagolitic";
  border-radius: 20px;
  background-color: darkred;
  align-items: center;
  width: fit-content;
  padding: 10px 13px;
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
  margin: 20px;
}

.about-card
{
  margin: 1.5em 0px;
  position: relative;
  background: rgb(255,255,255);
  width: 33.3%;
  height: 55%;
  float: left;
  padding: 1.5em 0 0;
  align-items: center;
  text-align: center;
}

.about-content
{
  margin: 0 3em;
  font-size: 1.1em;
  color: dimgrey;
  font-family: "Noto Sans Glagolitic";

}